@model FIADatabase.Areas.FIANCFiles.Modules.Shard

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/FIANCFiles/Views/Shared/_Layout.cshtml";
}

@{
    bool isLoggedIn = true;
    if (string.IsNullOrWhiteSpace(User.Identity.Name))
    {
        isLoggedIn = false;
    }
}



<div>
    <dl class="dl-horizontal">

        <div class="FIAText FIAh2 center">
            @Html.DisplayFor(model => model.Title)
        </div>

        <dd class="FIAText FIAp textBox">
            @Html.Raw(Model.Content)
        </dd>

    </dl>
</div>
<p>
    @{
        if (isLoggedIn)
        {
            <div class="cyber-button-small back-button center">
                @Html.ActionLink("Edit ", "Edit", new { id = Model.shardId })
            </div>
        }
    }

    <div class="cyber-button-small blue-button back-button center">
        @Html.ActionLink("Back to List", "Index")
    </div>
</p>
