@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 class="FIAText FIAh2 center" id="title">@ViewBag.Title</h2>

    <p class="FIAText FIAp center">The FIA Database contains information regarding various video games. All information present on this site is 
        fictional.</p>
</main>