@{
    ViewBag.Title = "Home";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <p class="lead center FIAText FIAh2">Welcome to the official database of the Federal Intelligence Agency.</p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <div class="card FIAbody" style="width: 18rem;">
                <img class="card-img-top" src="~/Content/Images/Samurai.jpg" alt="Night City Samurai">
                <div class="card-body FIAText ">
                    <h5 class="card-title center FIAh3">Night City Files</h5>
                    <p class="card-text center FIAp">Records of FIA interactions with Night City in 2077.</p>
                    <a href="@Url.Action("NCIndex", "Prologues", new { Area = "FIANCFiles" })" class="btn btn-primary cyber-button-small cyber-glitch-2">Night City Files</a>
                </div>
            </div>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
        </section>
    </div>
</main>