
@{
    ViewBag.Title = "Main";
    Layout = "~/Areas/FIANCFiles/Views/Shared/_Layout.cshtml";
}

<h2 class="FIAText FIAh2 center">Main Entries</h2>

<div class="cyber-button-small wide blue-button back-button">
    @Html.ActionLink("Prologue", "Index", "Prologues")
</div>

<div class="cyber-button-small wide blue-button back-button">
    @Html.ActionLink("Act 1", "Index", "ActIs")
</div>

